
.topbar {
    width: 100vw;
    height: 70px; 
    background-color: rgb(218, 231, 246); 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 40px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}


.topbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topbar-left img {
    height: 45px;
    width: 45px;
    object-fit: contain;
    border-radius: 50%;
}

.topbar-left h1 {
    font-size: 1.4rem;
    color: rgb(43, 8, 134);
    font-weight: 700;
}


.logout-btn {
    background-color: rgb(73, 70, 237); 
    color: aliceblue;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px rgb(97, 95, 232);
    transition: all 0.2s ease;
}

.logout-btn:hover {
    background-color: rgb(55, 52, 200);
    transform: translateY(-1px);
}

.logout-btn:active {
    transform: translateY(1px);
    box-shadow: 1px 1px rgb(97, 95, 232);
}


@media screen and (max-width: 768px) {
    .topbar {
        height: 60px; 
        padding: 0px 15px; 
    }

    .topbar-left gap {
        gap: 10px;
    }

    .topbar-left img {
        height: 35px;
        width: 35px;
    }

    .topbar-left h1 {
        font-size: 1.2rem;
    }

    .logout-btn {
        padding: 6px 14px; 
        font-size: 0.9rem;
    }
}

